body {
        background  : #2c3e50;    /* Midnight Blue */
        color       : #FFFFFF;
        font-family : DejaVu Sans, Euphemia, Corbel, Britannic Bold, sans-serif;
        text-align  : center;
}


#timer-control button {
        border        : none;
        border-radius : 2px;
        font-size     : 1.5rem;
        cursor        : pointer;
        margin-bottom : 0.5rem;
        padding       : 10px;
        transition    : background 0.2s;
        transition    : transform 2s;
        width         : 100%;
}

#timer-control button:hover {
        background: #E9C430;
}

#timer-control button:active {
        background: #CCA815;
}


#time-display {
        display    : block;
        font-size  : 2rem;
        margin     : 1rem auto;
        text-align : center;
}



@media screen and (min-width: 768px) {
        #time-display {
                font-size : 5rem;
        }

        #timer-control button {
                font-size : 2rem;
                margin    : 0 0.2rem;
                width     : auto;
        }
}