# Allows calls like '.../index' when index.php exists
Options -MultiViews
RewriteEngine On

RewriteBase /Nefari/public

# Directory checking
RewriteCond %{REQUEST_FILENAME} !-d
# File checking
RewriteCond %{REQUEST_FILENAME} !-f

# Take current URL and pass it to index.php as a query string (GET); $1 is first parameter
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]