@font-face {
        font-family : 'DejaVu Sans';
        src         : url('fonts/DejaVuSans.ttf');
        src         : local('DejaVu Sans'), url('fonts/DejaVuSans.ttf') format('truetype');
}


body {
        background  : #2c3e50;    /* Midnight Blue */
        color       : #FFFFFF;
        font-family : DejaVu Sans, Euphemia, Corbel, Britannic Bold, sans-serif;
        text-align  : center;
}


button {
        cursor: pointer;
}


#currentTimeDisplay {
        font-size  : 2em;
        margin     : 0.5em auto;
        text-align : center;
}


#eventDate,
#eventTime {
        text-align: center;
}


.eventDetailInput {
        margin: 1em 0;
}


.eventDetailInput input {
        font-size  : 1.5em;
        padding    : 0.5em;
        text-align : center;
}


.eventDetailInput label {
        display   : block;
        font-size : 1.25em;
        margin    : 0.3em auto;
}


#eventDetailsSubmit {
        background    : #3498db;    /* Peter River */
        border        : none;
        border-radius : 3px;
        color         : #FFFFFF;
}


#eventDetailsSubmit:hover {
        background: #2980b9;    /* Belize Hole */
}


#eventDetailsSubmit:active {
        background: #206491;
}



@media screen and (min-width: 768px) {
        #currentTimeDisplay {
                font-size  : 5em;
        }
}