body {
	background  : #2c3e50;    /* Midnight Blue */
	color       : #FFFFFF;
	font-family : Euphemia, Corbel, Britannic Bold, sans-serif;
	margin      : auto;
	width       : 90%;
}



.btn,
.input {
	display         : flex;
	justify-content : center;
}



.btn > *,
.input > * {
	width : 100%;
}



.btn button:not(:first-child) {
	border-left : 1px solid #C8C8C8;
}



button {
	background    : #E74040;
	border        : none;
	border-radius : 0;
	color         : #ffffff;
	cursor        : pointer;
	font-weight   : bold;
	padding       : 10px;
	transition    : background 0.2s;
	width         : 100%;
}



button:hover {
	background : #D71C1C;
}



button:active {
	background : #A41515;
}



h1 {
	font-size : 2em;
}



header {
	margin-top : 10px;
}



input {
	transition : background 0.2s;
}



input,
select {
	border-radius : 0;
	width         : 100%;
}



input[type=number] {
	-moz-appearance : textfield;
	appearance      : textfield;
}



input:focus {
	background : #FAF7D3;
}



input:not(:first-child) {
	border      : none;
	border-left : 1px solid #C8C8C8;
}



input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance : none;
	appearance         : none;
}



.input > * {
	border    : none;
	font-size : 1.2em;
	padding   : 5px;
}



.label {
	margin-bottom : 5px;
	text-align    : left;
}



section {
	margin-top : 10px;
}



section * {
	text-align : center;
}



select {
	border      : none;
	border-left : 1px solid #C8C8C8 !important;
}



.subtitle {
	font-style  : oblique;
	font-weight : normal;
}



@media all and (min-width : 768px) {
	body {
		width : 768px;
	}
}